.de{
    display: inline-block;
}
a{
    color: skyblue;
    outline: slateblue;
    outline-width: 2px;
}

.count{
    position: relative;
    background-color: black;
    color: white;
    width: 200px;
    height: 200px;
}
#circle{
    position: absolute;
    margin-left: 21px;
    margin-top: 24px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid red;
}
#pe{
    position: absolute;
    margin-top: 68px;
    margin-left: 68px;
    font-size: 17px;
    font-weight: bold;
}
.btn{
    position: absolute;
    margin-left: 21px;
    margin-top: 24px;position: absolute;
    margin-left: 45px;
    margin-top: 98px;
}
.ball{
    width: 30px;
    height: 20px;
    font-size: 19px;
    font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .put{
      margin-bottom: 25px;
  }